.App {
  text-align: center;
  max-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  
}
.centrado{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.margenNombre{
  margin-left: 10px;
}
.NavBar{
  display: flex;
  width: 90%;
  text-decoration: none;
  justify-content:space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.items{
  text-decoration:none;
  color: black;
}
.items:hover{
  color: black;
}

.card {
  margin-top: 10px;
  max-width: 250px;
}

.link {
  color: #FFF;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
